body {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(35, 35, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*color: rgb(200, 200, 200);*/
    color: rgb(255, 255, 255);
}

.topbunk {
    text-align: center;
    background-color: rgb(13, 13, 13);
    border-bottom: 0.5px solid rgb(185, 141, 0);
    height: 50px;
}

.inline {
    display: inline-block;
    margin: 0 auto;
    padding: 1em 0 1em 0;
    width: 13em;
    height: 20px;
}

.notfarright {
    border-left: 1px solid rgb(185, 141, 0);
}

.farside {
    border-left: 1px solid rgb(185, 141, 0);
    border-right: 1px solid rgb(185, 141, 0);
}

.MainContent {
    margin: auto;
    max-width: 60%;
    background-color: rgb(13, 13, 13);
    border: .5px solid rgb(185, 141, 0);
    border-top: none;
    border-radius: 3px;
}

.sidebar {
    border-right: .5px solid rgb(185, 141, 0);
    height: 100%;
    width: 25%;
}

.MainContent{
    display: inline-flexbox;
    flex-wrap: nowrap;
}

.barsite {
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(185, 141, 0);
    border-radius: 90px;
    transition: all .5s ease;
}

.barsite:hover {
    background: rgb(61, 60, 58);
    border-radius: 10px;
}

.barlink {
    text-decoration: dotted underline;
    vertical-align: middle;
}

a {
    color: inherit;
}

.contentbar {
    margin: 0;
    width: 75%;
    height: 100%;
}